body {
  background-color: #2A9D8F;
}

.container {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.display{
  width: 97%;
  height: 100px;
  background-color: white;
  overflow: auto;
  padding: 2px;
  margin: 0 auto;
}

h1{
  color: #264653;
  text-align: center;
}

p{
  margin: 0;
  padding: 0;
}

#submitiframe{
  position: relative;
  top: -13px;
}
